*{
    margin: 0;
    padding: 0;
}

.chatroom-container{
    display: none;
    /* width: 400px; */
    margin: auto;
}

.form-username{
    /* display: none; */
}

.chatroom-header{
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
}
.messages{
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
}
.message{
    padding: 0.5rem;
    margin: .5rem;
    font-size: 1.5rem;
    background-color: #DCF8C6;
    width: fit-content;
}
.sent{
    align-self: flex-end;
}